.contact_contain {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 248, 246, 255);
    padding: 20px;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.contact_text {
    max-width: 620px;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

.contact_pic {
    max-width: 490px;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}


.contact_text h3{
    color: #ff7943;
}

.contact_text h2{
    /* color: black; */
    margin-top: 30px;
}

.contact_text_p{
    margin-top: 30px;
    margin-bottom: 30px;
}






.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px ;
   
     
}

/* Shared styling for phone & email sections */
.contact_1, .contact_2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 25px; 
}

/* Circular icon styling */
.contact_icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff7943; /* Orange border */
    border-radius: 50%;
    font-size: 20px;
    color: #ff7943;
}

/* Contact text container */
.contact_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    


.h4{
    color: #00294A;
    display: flex;
    padding-bottom: 10px;
}

/* Phone & Email title */
.contact_details h4 {
    
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.contact_h2{
    color: #00294A ;
    font-weight: bold;
}

/* Phone number & Email text */
.contact_details p {
     /* margin: 5px 0 0; */
    font-size: 16px;
}


@media (max-width: 1024px) {
    .contact_contain {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 40px 20px;
    }

    .contact_text {
        max-width: 90%;
        text-align: center;
    }

    .contact_pic {
        max-width: 90%;
        
    }

    .contact_text span {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}