.herosection {
    background-image: url("../../assets/Wavylines.png");
    background-color: #00294A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 50px 5.2%; 
    box-sizing: border-box;
    width: 100%;
}

.herobtns {
    display: flex;
    gap: 16px;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 1.5%; 
    gap: 28px;
    max-width: 556px;
    width: 100%;
}

.left-side h1 {
    font-size: 2.4rem;
    color: white;
}
.left-side p {
    /* font-size: 2.4rem; */
    color: white;
    padding: 0;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 30px;
}

.man {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.square1 {
    position: absolute;
    z-index: 1;
    left: -5%; /* Adjusted */
    top: -20px;
}

.square2 {
    position: absolute;
    z-index: 1;
    left: 40%;
    bottom: -15%;
}

.man2 {
    position: relative;
    top: 20px;
    right: 20px;
}

.male1 {
    position: relative;
    z-index: 1100;
    width: 100%;
    max-width: 190px;
    height: auto;
}

.circle-woman {
    position: relative;
}

.woman-above-circle {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 275px;
    height: auto;
}

.circle-beside-woman {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -50px;
    width: 98px;
}

.circle-man {
    position: relative;
}

.male-beside-circle {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 240px;
    height: auto;
}

.circle-beside-male {
    position: absolute;
    left: 50%; /* Adjusted for flexibility */
    bottom: -47px;
    z-index: 1;
    /* transform: translateX(-50%); */
}

.navss {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
}

.navs > ul {
    background-color: white;
    color: black;
}

.navdiv {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .nav-links{
        display: none;
    }
    .sign-in-btn{
        display: none;

    }
    .button2{
        display: none;
    }
    .herosection{
        flex-direction: column;
        align-items: center;
        padding-top: 35%;
        width: 100%;
       
       
    }
    .left-side h1{
        font-size: 2.5rem;
     }
    .left-side{
        padding: 0;
        
        width: 100%;
        max-width: 386px;
    }
    .herobtns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
    }
    .request-btn{
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;


        
        }
    .button1{
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;


        
        }
        .right-side{
            padding: 6px;
        }

    }



